<h1>Welcome to {{title}}</h1>
<app-success></app-success>
<app-warning></app-warning>
<div class="form">
    <h2>Two way data binding</h2>
    Enter your name here: <input type="text" [(ngModel)]='inputValue'>
    <p>Hello {{inputValue}}</p>
    <button type="reset" [disabled]='true'>Reset</button>
</div>

<div class="directive">
    <button (click)='onIncreaseClick()'>Display Detail</button>
    <p>Secret Password: Tuna</p>
    <p [style.background-color]="blueText">The counter is {{counter}}</p>
</div>